/*mobile*/
* {
  margin: 0px;
  padding: 0px;
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr 10fr 1fr;
  grid-template-areas:
    "nav"
    "filter"
    "galery"
    "footer";
  height: 100vh;
}

nav {
  padding: 10px;
  grid-area: nav;
  background-color: blue;
  color: white;
}

menu {
  grid-area: filter;
  background-color: grey;
  color: black;
}

main {
  grid-area: galery;
  background-color: white;
  color: white;
  position: relative;
  overflow-y: auto;
}

footer {
  grid-area: footer;
  background-color: darkblue;
  color: white;
  padding: 10px;
}

/*diseño cards*/

.grid-container-card {
  padding: 15px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  flex-basis: calc(25% - 10px);
  flex-grow: 1;
  align-items: center;
  gap: 20px;
  border-radius: 4px grey;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.footer-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-model {
  color: black;
}

.btn {
  background-color: #892e36;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 14px 15px;
}

.btn:hover {
  background-color: #e28d89c8;
}

.pagination {
  text-align: center;
  position: sticky;
  bottom: 0;
  color: black;
  padding: 20px;
}

/*desktop*/
@media (min-width: 992px) {
  .grid-container {
    grid-template-areas:
      "nav filter"
      "nav galery"
      "footer galery";
    grid-template-rows: 1fr 10fr;
    grid-template-columns: 2fr 8fr;
  }

  footer {
    padding: 30px;
  }
}
