/*mobile*/
* {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr 10fr 1fr;
  grid-template-areas:
    "nav"
    "filter"
    "galery"
    "footer";
  height: 100vh;
}

nav {
  padding: 10px;
  grid-area: nav;
  background-color: #004490;
  color: white;
  font-size: 20px;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.name-brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

menu {
  grid-area: filter;
  background-color: #dbdbdb;
  color: black;
}

main {
  grid-area: galery;
  background-color: white;
  color: white;
  position: relative;
  overflow-y: auto;
}

footer {
  grid-area: footer;
  background-color: #00215c;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

.icon-footer {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 1.5em;
}

a {
  color: white;
}

.text-footer {
  text-align: center;
}

.container-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 5px;
}

.filter-cars {
  width: 100%;
  background-color: white;
  height: 40px;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 4px;
  padding-left: 1em;
  padding: 5px;
}

.container-menu {
  display: none;
}

/*diseño cards*/
.grid-container-card {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 15px 30px;
}

.card {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  flex-grow: 1;
  align-items: center;
  border-radius: 4px grey;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.img {
  padding: 20px 20px 0px 20px;
}
.footer-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.text-model {
  color: black;
}

.btn {
  background-color: #004490;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 10px;
}

.btn:hover {
  background-color: #e28d89c8;
}

.pagination {
  display: flex;
  justify-content: center;
  background-color: white;
  text-align: center;
  position: sticky;
  bottom: 0;
  color: black;
  padding: 20px;
}

.item-pagination {
  border: 1px solid #ddd;
  float: left;
  padding: 8px 16px;
  color: blue;
}

/*desktop*/
@media (min-width: 992px) {
  .grid-container {
    grid-template-areas:
      "nav filter"
      "nav galery"
      "footer galery";
    grid-template-rows: 1fr 10fr;
    grid-template-columns: 1.5fr 8fr;
  }

  .grid-container-card {
    flex-direction: row;
  }

  .sidebar-header {
    justify-content: center;
    align-items: center;
  }

  footer {
    gap: 15px;
    padding: 15px;
  }

  .icon-footer {
    font-size: 2em;
  }

  .container-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 20px;
  }

  .icon-bars {
    display: none;
  }
}
